/*-------------------------------------Fonts---------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Orbitron:100,300,400,700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
}

/*-----------------------------------Background Color-----------------------------------*/

.about-us-sec,
.our-goal-sec,
.technology-sec,
.design-sec {
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 255, 0, 0.158));  
}

/*-------------------------------------Navbar-------------------------------------------*/

a.nav-link {
    color: #35b729;
    font-size: 1rem;
}

a.nav-link:hover {
    color: black; 
}

a.nav-link.active {
    color: black;
}

#active{
    color: black;
}

.sign-up {
    background-color:  #35b729;
    color: #EBECEC;
    border: 5px #35b729 solid;
    border-radius: 10px;
}

.sign-up:hover {
    color: black; 
}

/*-------------------------------------Modal-------------------------------------------*/

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(72, 255, 0, 0.28), 0 4px 15px 0 rgba(72, 255, 0, 0.28);;
    box-shadow: 0 2px 5px 0 rgba(72, 255, 0, 0.28), 0 4px 15px 0 rgba(72, 255, 0, 0.28); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(72, 255, 0, 0.28), 0 4px 15px 0 rgba(72, 255, 0, 0.28);
    box-shadow: 0 5px 11px 0 rgba(72, 255, 0, 0.28), 0 4px 15px 0 rgba(72, 255, 0, 0.28); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #35b729!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }

input#form-email1.form-control.validate.z-depth-1a {
    -webkit-box-shadow: 0 5px 11px 0 rgba(72, 255, 0, 0.28), 0 4px 15px 0 rgba(72, 255, 0, 0.28);
    box-shadow: 0 2px 5px 0 rgba(72, 255, 0, 0.28), 0 4px 15px 0 rgba(72, 255, 0, 0.28);
}

/*-------------------------------------Images & Logos---------------------------------------------*/

img.logo {
    height: 100px;
    max-width: auto;
}

/* The hero image */

.main-image {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/scooterbar.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-image2 {
  background:url("../images/scooterfeet.jpeg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-image3 {
  background:url("../images/phone-app.png");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.design-image {
  background:url("../images/lime_scooter.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.route-image {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/couple-scooter.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-image {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/scooter-wheel.jpg");
  height: 70vh;
  background-attachment: fixed;
  background-position: 0px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}


div.app-logos {
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 3em;
}

#apple-logo {
    height: 46px;
}

.skoot-route-img {
margin-top: 35px;
margin-bottom: 20px;
}

img.design-images {
    padding-top: 1.5rem;
    max-width: 100%;
    height: 45vh;
}



/*-------------------------------------Headers---------------------------------------------*/

/* Place text in the middle of the hero image */
.main-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EBECEC;
}

/* Place text in the middle of the location hero image */

.route-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EBECEC;
}

h1 {
    text-decoration: underline;
    text-decoration-color: #35b729;
}

h2.green-header {
    text-align: center;
    padding: 30px;
    background-color: #35b729;
    margin: 0;
}

h3.our-goal {
    text-align: center;
    padding-top: 50px;
}

h3.technology-header {
    text-align: center;
    padding-top: 50px;
}

h3.design-header {
    text-align: center;
    padding-top: 50px;
}

.design-headers {
    font-weight: bold;
    margin: 0.7em;
}

h3.route-header {
    text-align: center;
    padding-top: 50px;
}


/*-------------------------------------Sections---------------------------------------------*/

.about-us {
    text-align: center;
    letter-spacing: 1px;
    padding: 50px;  
}

p.about {
    margin: 50px 10vw;
}

hr.space-about {
  border: 2px solid #35b729;
  width: 50%;
}

hr.space-our-goal {
  border: 2px solid #35b729;
  width: 50%;
}

p.our-goal {
    text-align: center;
    letter-spacing: 1px;
    margin: 50px 10vw;
    margin-bottom: 0;
    padding-bottom: 50px;
}

hr.space-technology {
  border: 2px solid #35b729;
  width: 50%;
  
}

p.technology {
  text-align: center;
  letter-spacing: 1px;
  margin: 50px 10vw;
}

hr.space-design {
  border: 2px solid #35b729;
  width: 50%;
}

p.locations {
  text-align: center;
  letter-spacing: 1px; 
  margin: 50px 10vw;
  margin-bottom: 0;
  padding-bottom: 50px; 
}

hr.space-route {
  border: 2px solid #35b729;
  width: 50%;
}

hr.space-route-p {
  border: 2px solid #35b729;
  width: 20%;
}

.route {
    text-align: center; 
}

.skoot-button {
    background-color:  #35b729;
    color: #EBECEC;
    border: 10px #35b729 solid;
    border-radius: 10px;
    margin-bottom: 50px;
}

.skoot-button:hover {
    color: black; 
}

p.skoot-route {
    display: grid;
    margin: 50px 10vw;
}

.design-sec {
    text-align: center;
}

.design-p {
    
    font-size: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem;
}

/*------------Shop------------*/


.scooter-shop-img {
    padding-top: 1.5rem;
    max-width: 100%;
    height: 60vh;
    float: left;
    margin-right: 5rem;
}

.scooter-shop-img2 {
    padding-top: 1.5rem;
    max-width: 100%;
    height: 60vh;
    float: right;
    margin-left: 5rem;
}

.scooter-wrap {
    margin-top: 70px;
    margin-bottom: 70px;
}

.price{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bolder;
}

.spec-header {
    font-weight: bolder;
    text-decoration: underline #35b729;
}

.shop_btn {
    display: inline-block;
    background-color: #000;
    border: 2px solid #000;
    font-size: 1rem;
    padding: 15px 30px;
    color: #fff;
}

.shop_btn:hover,
.info_btn:hover {
    color: #35b729;
}

.shop-header {
    padding-bottom: 1rem;
}

.info_btn {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 1rem;
    padding: 15px 30px;
    color: #000;
}

.info_btn:focus {
    border: 3px solid #35b729;
    color: black;
    outline: 0;
}


ul.more-specs,
ul.more-specs2,
ul.more-specs3,
ul.more-specs4 {
    display: none;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


/*-------------------------------------Footer---------------------------------------------*/

.page-footer {
    background-color:   rgba(0, 255, 0, 0.100); 
}

.footer-title {
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}

.social-icons {
    font-size: 2rem;
    color: black;
    letter-spacing: .5em;

}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list li {
    padding: 5px 1em;
}

footer a:hover {
    color: #35b729;
}

a.signature:hover {
    color: white;
}

.footer-copyright {
    background-color: #35b729;
    padding: 20px;
    text-align: center;
    color: black;
}


.footer-divider {
    background-color:#35b729;;
}

.signature {
    color: black;#35b729
}

a {
    color: black;
}

.footer-row {
    padding: 1rem;
}

.form {
    padding: 1em;
    background-image: linear-gradient( rgba(255, 255, 255, 2.0), rgba(0, 255, 0, 0.158)); 
    box-shadow: 0 0 1em 6px;
    border-radius: 1rem;
}

footer ul li a:hover {
    color: #35b729;
}

/*-------------------------------------Map---------------------------------------------*/

div#map {
    min-height: 150px;
}

/*------------------------------------Return Arrow---------------------------------------------*/

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #35b729;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 550px;
    margin-right: 10px;
}
#back2Top:hover {
  background-color: #ffffff;
    color: #35b729;  
}





