/*-------------------------------------Background Color---------------------------------------------*/

body {
    background: #35b729; /* fallback color */
    background: linear-gradient(white, white, #35b729);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*-------------------------------------Navbar---------------------------------------------*/

a.nav-link {
    color: #35b729;
    font-size: 2rem;
}


/*-------------------------------------Images & Logos---------------------------------------------*/

body, html {
    height: 100%;
}

img.logo {
    height: 100px;
    max-width: auto;
    text-align: center;
}

/* The hero image */
.main-image {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/scooterbar.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*-------------------------------------Headers---------------------------------------------*/

/* Place text in the middle of the hero image */
.main-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
