/*-------------------------------------Background Color---------------------------------------------*/

html {
    background: #35b729; /* fallback color */
    background: linear-gradient(white, white, #35b729);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*-------------------------------------Navbar---------------------------------------------*/

a.nav-link {
    color: #35b729;
    font-size: 2rem;
}


/*-------------------------------------Images & Logos---------------------------------------------*/

img.logo {
    height: 80px;
    max-width: auto;
}